@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-themes {
  --default-font-family: var(--font-inter);
  .rt-Button {
    cursor: pointer;
  }
  .rt-Text {
    user-select: none;
  }

  .rt-Badge {
    cursor: pointer;
  }
}
